body {
    background-image: url(../Imagenes/background.menu.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-size: x-large;
}
h1 {
    text-align: center;
    background-color: #333;
}
h2 {
    text-align: center;
    background-color: #333;
}
h3 {
    text-align: center;
    background-color: #333;
}
p {
    background-color: #333;
}
#Historia {
    text-align: center;
}
#Titulo {
    text-align: center;
    background-color: rgb(54, 90, 0);
  
}
#Clima {
    text-align: center;
    background-color:  rgb(54, 90, 0);
}
#Descripcion1 {
    text-align: center;
}
#Descripcionclima {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}
#ubicacion {
    text-align: center;
    background-color:  rgb(54, 90, 0);
}
#Descripcionubicacion {
    text-align: center;
}
#Atractivosturisticos {
    text-align: center;
    background-color:  rgb(54, 90, 0);
}
#Descripcionatractivos {
    text-align: center;
    
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}
#Menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#Menu > li > a {
    display: block;
    padding: 15px 20px; 
    color: white;
    text-decoration: none;
}
#Menu > li:hover {
    background-color: rgb(121, 207, 236);
}
#Submenu {
    background-color: #333;
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: (0, 0, 0, .5);
}
#Menu li:hover #Submenu {
    display: block;
}
#Submenu li:hover {
    background-color: black;
}
#Submenu li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}
#Direcciones {
    text-align: center;
    background-color: #333;
    list-style: none;
}
.Imagen {
    display: block;
    margin: auto;
    width: 700px;
    height: 500px;
}
.Agencias {
    display: block;
    margin: auto;
    width: 300px;
    height: 250px;
}
.Restaurantes {
    display: block;
    margin: auto;
    width: 700px;
    height: 500px;
}
#Turismo {
    display: block;
    margin: auto;
    height: 250px;
    width: 250px;}
    #HisT {
        background-color: #333;
}
.flex-container {
    border: 1px solid black;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}